{% extends "AdminUserBundle::layout.html.twig" %}

{% block title "Social Maps - Update Profile" %}

{% block content %}
<table class="table table-striped table-bordered table-condensed">

    <tr>
        <td>
            <form action="" method="POST" id="update_form">
                <h2 class="form-signin-heading">Update User</h2>
                {{ form_errors(form) }}

                {{ form_row(form.email) }}
                {{ form_row(form.gender) }}

                {{ form_rest(form) }}
                <input type="submit" value="Update" class="btn btn-primary"/>
                <button  onclick="history.go(-1)" class="btn btn-info" type="button" id="commonCancel" name="Cancel">Cancel</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}
