!!!
%html
  %head
    %title Hello
    - $url = $baseUrl . '/assets/stylesheets/newsfeed.css'
    %link(rel='stylesheet' href=$url)
%body
  %ul(style='width:320px')
    - foreach($activities as $activity)
      %li
        - if ($activity->getObjectType() === 'photo')
          - $photo = $photoRepo->find($activity->getObjectId())
          - $likeRef = 'photo:like:' . $photo->getId()
          - $commentRef = 'photo:comment:' . $photo->getId()

          .photo
            .row
              .avatar
                %img(src=$photo->getOwner()->getAvatar())
              .name
                %h4= $photo->getOwner()->getName()
              .time
                11m ago

              .comment
                = stripcslashes($photo->getDescription())

            .row(style='height:140px')
              .image
                %img(src= $photo->getUriMedium())
              .icon.icon_zoom

            .row
              .buttons
                %a.link_like(href=$likeRef) Like
                %a.link_comment(href=$commentRef) Comment

        - else
          .activity
            .row
              .avatar
                %img(src=$photo->getOwner()->getAvatar())
              .name
                %h4= $photo->getOwner()->getName()
              .time
                11m ago

              .comment
                = stripcslashes($activity->getTitle())



  