!!!
%html
  %head
    %title Hello
    %link(rel='stylesheet' href='http://ec2-46-51-157-204.eu-west-1.compute.amazonaws.com/prodtest/assets/stylesheets/newsfeed.css')
%body
  %ul(style='width:320px')
    -$i=0
    - foreach($activities as $activity)
      %li
        - if ($activity->getObjectType() === 'photo')
          - $photo = $photoRepo->find($activity->getObjectId())

          .photo
            .row
              .avatar
                %img(src=$photo->getOwner()->getAvatar())
              .name
                %h4= $photo->getOwner()->getName()
              .time
                11m ago

              .comment
                = $photo->getDescription()

            .row(style='height:140px')
              .image
                %img(src= $photo->getUriMedium())
              .icon.icon_zoom

            .row
              %a(href=$i) Click Here
      -$i++
              
  