body {
  margin: 0px;
  padding: 2px;
  font-family: helvetica;
  font-size: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  clear: both;
  margin: 5px;
  margin-bottom: 15px;
  min-height: 60px;
}
ul li .row {
  clear: both;
  display: block;
}
ul li .row .avatar {
  float: left;
  margin-left: 10px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  background: #000;
  position: relative;
  z-index: 300;
}
ul li .row .avatar img {
  width: 40px;
  height: 40px;
}
ul li .row .name {
  float: left;
  margin-top: 5px;
}
ul li .row .name h4 {
  padding: 2px;
  margin: 0px;
  font-size: 110%;
}
ul li .row .time {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #888;
}
ul li .row .comment {
  clear: both;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 60px;
  margin-right: 5px;
  margin-top: 30px;
  position: absolute;
  width: auto;
  z-index: 200;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul li .row .buttons {
  text-align: right;
  padding: 5px;
  padding-top: 0;
  cursor: pointer;
}
ul li .row .buttons a {
  width: 70px;
  height: 25px;
  text-decoration: none;
  position: relative;
  top: 5px;
  padding: 3px 5px 3px 5px;
  color: #fff;
  font-size: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 400;
}
ul li .row .buttons .disabled {
  background: #888;
}
ul li .row .buttons .enabled {
  background: #94C11C;
}
ul li .activity .row .comment {
  width: auto;
  max-width: 230px;
  max-height: 27px;
  overflow: hidden;
}
ul li .activity .row .buttons {
  margin-top: 20px;
  position: relative;
  margin-top: 28px;
  float: right;
}
ul li .photo .row .image {
  position: absolute;
  margin-top: -20px;
  z-index: 100;
  width: auto;
  padding: 5px;
  overflow: hidden;
  height: 120px;
  width: 290px;
}
ul li .photo .row .image img {
  width: 300px;
}
.notice-panel {
  padding: 5px;
  position: fixed;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  background: #ffffe0;
  border: 1px solid orange;
  width: 99%;
  z-index: 1111;
  font-size: 120%;
  font-weight: bold;
}
