body {
  margin: 0px;
  padding: 2px;
  font-family: helvetica;
  font-size: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 5px;
}
ul li .row {
  clear: both;
  display: block;
}
ul li .row .avatar {
  float: left;
  margin-left: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background: #000;
  position: relative;
  z-index: 300;
}
ul li .row .name {
  float: left;
  margin-top: 5px;
}
ul li .row .name h4 {
  padding: 2px;
  margin: 0px;
  font-size: 110%;
}
ul li .row .time {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #888;
}
ul li .row .comment {
  clear: both;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 70px;
  margin-right: 5px;
  opacity: 0.6;
  top: -20px;
  position: relative;
  width: 150px;
  z-index: 200;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul li .row .buttons {
  text-align: right;
  padding: 5px;
  padding-top: 0;
}
ul li .row .buttons a {
  width: 70px;
  height: 25px;
  text-decoration: none;
  position: relative;
  top: 5px;
  padding: 3px 5px 3px 5px;
  color: #fff;
  font-size: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul li .row .buttons .link_like {
  background: #888;
}
ul li .row .buttons .link_comment {
  background: #94C11C;
}
ul li .activity .row .comment {
  width: auto;
}
ul li .photo .row .image {
  top: -50px;
  position: relative;
  z-index: 100;
  width: auto;
  padding: 5px;
  border: 1px solid #ccc;
}
ul li .photo .row .image img {
  width: 290px;
}
