body {
    margin:  0px;
    padding:  2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        background:  red;
        margin: 5px;

        .photo {
            .row {
                clear: both;
                display: block;

                .avatar {
                    float: left;
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 50px;
                    height: 50px;
                    border:  1px solid #ccc;
                    background:  #000;
                }

                .name {
                    float: left;

                    h4 {
                        padding:  2px;
                        margin:  0px;
                    }
                }

                .time {
                    float: right;
                    margin-right: 10px;
                }

                .comment {
                    clear: both;
                    background: #8a2be2;
                    padding: 5px;
                    margin-left: 70px;
                    top: -25px;
                    position: relative;
                    width: 90%;
                }

                .image {
                    background: yellow;
                    margin-top: -80px;
                }
            }
        }
    }
}