body {
    margin:  0px;
    padding:  2px;
    font-family: helvetica;
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        clear: both;
        margin: 5px;
        margin-bottom: 10px;
        min-height: 60px;

        .row {
            clear: both;
            display: block;

            .avatar {
                float: left;
                margin-left: 10px;
                margin-right: 5px;
                width: 40px;
                height: 40px;
                border:  1px solid #ccc;
                background:  #000;
                position: relative;
                z-index: 300;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .name {
                float: left;
                margin-top: 5px;

                h4 {
                    padding:  2px;
                    margin:  0px;
                    font-size: 110%;
                }
            }

            .time {
                float: right;
                margin-right: 10px;
                margin-top: 5px;
                color: #888;
            }

            .comment {
                clear: both;
                background: #fff;
                border:  1px solid #ccc;
                padding: 5px;
                margin-left: 60px;
                margin-right: 5px;
                margin-top: 30px;
                position: absolute;
                width: auto;
                z-index: 200;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

            .buttons {
                text-align: right;
                padding: 5px;
                padding-top: 0;

                a {
                    width: 70px;
                    height: 25px;
                    text-decoration: none;
                    position: relative;
                    top: 5px;
                    padding: 3px 5px 3px 5px;
                    color: #fff;
                    font-size: 90%;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    z-index: 400;
                }

                .link_like {
                    background: #888;

                }

                .link_comment {
                    background: #94C11C;
                }
            }
        }

        .activity {
            .row {
                .comment {
                    width: auto;
                    max-width: 230px;
                    max-height: 27px;
                    overflow: hidden;
                }
            }
        }

        .photo {
            .row {
                .image {
                    position: absolute;
                    margin-top: -20px;
                    z-index: 100;
                    width: auto;
                    padding: 5px;
                    overflow: hidden;
                    height: 120px;
                    width: 290px;

                    img {
                        width: 300px;
                    }
                }

            }
        }
    }
}

